---
import HeroLeftPane from './HeroLeftPane.astro';
import HeroRightPane from './HeroRightPane.astro';
---

<section class="min-h-[calc(100dvh-80px)] grid grid-cols-1 md:grid-cols-10 border-b-2 border-secondary">
  <HeroLeftPane />
  <HeroRightPane />
</section>
