---
import { getCollection } from 'astro:content';
import TrendingArticle from '../cards/TrendingArticle.astro';

const essays = await getCollection('essays');
const featuredEssay = essays.find(essay => essay.data.featured) || essays[0];
const trendingEssays = essays
  .filter(essay => essay.id !== featuredEssay.id)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<div class="border-l-0 md:border-l-2 border-secondary md:pl-12 flex-grow">
  <h2 class="font-label text-xs text-secondary mb-8 uppercase tracking-[0.4em]">Trending Now</h2>
  <div class="space-y-12 mb-16">
    {trendingEssays.map((essay, index) => (
      <a href={`/essays/${essay.id}`} class="block group">
        <TrendingArticle 
          number={`0${index + 1}`}
          category={essay.data.category.toUpperCase()}
          title={essay.data.title}
          description={essay.data.description}
        />
      </a>
    ))}
  </div>
</div>
