---
interface Props {
  code: string;
  language?: string;
}

const { code, language = 'logic' } = Astro.props;
---

<div class="my-8 bg-surface-container-low border-l-4 border-secondary p-6">
  <pre class="font-mono text-lg text-secondary overflow-x-auto whitespace-pre-wrap"><code>{code}</code></pre>
</div>
