---
interface Props {
  code: string;
  language?: string;
}

const { code, language = 'logic' } = Astro.props;
---

<div class="my-8 bg-white border-2 border-outline border-l-4 border-l-secondary p-6">
  <pre class="font-mono text-lg text-on-surface overflow-x-auto whitespace-pre-wrap"><code>{code}</code></pre>
</div>
